/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #de310a;
  --ifm-color-primary-dark: #c82c09;
  --ifm-color-primary-darker: #bd2a08;
  --ifm-color-primary-darkest: #9b2207;
  --ifm-color-primary-light: #f4360b;
  --ifm-color-primary-lighter: #f53f16;
  --ifm-color-primary-lightest: #f65b38;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d4b126;
  --ifm-color-primary-dark: #bf9f22;
  --ifm-color-primary-darker: #b49620;
  --ifm-color-primary-darkest: #947c1b;
  --ifm-color-primary-light: #dbba38;
  --ifm-color-primary-lighter: #ddbe42;
  --ifm-color-primary-lightest: #e3c962;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}