
.symbol-spread-container {
    height: 15em;
    overflow: hidden;
    border-bottom: 1px solid var(--ifm-table-border-color);
}

.symbol-spread-container-toggle {
    text-align: center;
    cursor: pointer;
    font-size: 0.8em;
}

.symbol-spread-container-toggle:hover {
    background-color: var(--ifm-table-stripe-background);
}

.symbol-spread-container-expanded {
    height: inherit;
}

.symbol-spread {
    margin-bottom: -1px;
}

.wx-symbol {
    font-family: 'wx-symbols';
    font-size: 1.5em;
    text-align: center;
}

@font-face {
    font-family: 'wx-symbols';
    src: url('/fonts/wx_symbols.ttf') format('truetype');
}
